.dashboard {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 40px;

  &__body {
    display: grid;
    grid-template-columns: 1fr 1.5fr;    
    grid-gap: 40px;
  }

  &__left {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__right {
    width: 100%;
  }
}
