.temperature {
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  border: var(--border);
  padding: 30px;
  transition: 0.3s;
  background-color: #fff;

  display: flex;
  justify-content: space-between;

  &__column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 60px;
  }

  &__section {
    color: #6a6969;
    display: flex;
    gap: 10px;
    font-size: 20px;

    & img {
      width: 40px;
    }

    &__info {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }

  &:hover {
    transform: scale(1.015);
  }
}

@media only screen and (max-width: 1200px) {
  .temperature {
    &__section {
      font-size: 16px;
    }
  }
}

@media only screen and (max-width: 576px) {
  .temperature {
    padding: 10px;
    flex-direction: column;
    gap: 20px;

    &__column {
      gap: 20px;
    }
  }
}
