* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  --radius: 16px;
  --border: 1px solid #adaaaa;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
  font-family: 'Roboto Mono', monospace;
  background-color: #faf9f9;
}
